{% extends "base.html" %}
{% block title %}Resources{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container">
    <h2>Select a Subject</h2>
    <p>Choose a subject and ask a question to get assistance or explanations.</p>
    
    <form method="POST" action="/course_content">
        
        <h3>Not sure about a course topic? Ask away</h3>
        <div class="chatbox">
            <input type="text" name="question" id="questionInput" placeholder="Type your question..." required>
            <button type="submit">Ask</button>
        </div>
    </form>

    <div class="messages" id="chatMessages">
        {% if ai_response %}
            <h4>AI Response:</h4>
            <p>{{ ai_response | safe }}</p>
        {% endif %}
    </div>
</div>








<section class="transcript-uploader">
    <h2>Upload Your Transcript</h2>
    <form method="POST" id="transcript-form" action="{{ url_for('main.transcript_reader') }}" enctype="multipart/form-data">
        
        
            <input type=file name=file>
            <input type="submit" value="Upload">
    </form>


</section>

{% endblock %}
