{% extends "NoNavBase.html" %}
{% block title %}signup{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<section>
    <h2>Create an Account</h2>
    <form method="POST" action=''>
        {{ form.hidden_tag()}}
        <div>
            {{form.name.label }}
            {{ form.name()}}
        </div>
        <div>
            {{form.email.label }}
            {{ form.email()}}
        </div>
        <div>
            {{form.password.label }}
            {{ form.password()}}
        </div>
        <div>
            {{form.confirm_password.label }}
            {{ form.confirm_password()}}
        </div>
        <div>
            {{ form.submit()}}
        </div>
        <a href="{{ url_for('main.login') }}"><span class = "link" >Already have an account? Login here </span></a>
     
    </form>
</section>
{% endblock %}