{% extends "base.html" %}
{% block title %}temp page{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
<link rel="stylesheet" href="{{ url_for('static', filename='calendar.css') }}">

{% endblock %}
{% block content %}

<!-- /*
geeks for geeks html code was used as a template here, 
https://www.geeksforgeeks.org/how-to-design-a-simple-calendar-using-javascript/
*/-->


<main>
    <div class="calendar-container">
        <header class="calendar-header">
            <p class="calendar-current-date"></p>
            <div id="calendar-mode">
                <button id="week-button" class="not-selected">Week</button>
                <button id="month-button" class="selected">Month</button>

            </div>
            <div class="calendar-navigation">
                <span id="calendar-prev" class="material-symbols-rounded">
                    chevron_left
                </span>
                <span id="calendar-next" class="material-symbols-rounded">
                    chevron_right
                </span>
            </div>
        </header>

        <div class="calendar-body">
            <ul class="calendar-weekdays">
                <li>Sun</li>
                <li>Mon</li>
                <li>Tue</li>
                <li>Wed</li>
                <li>Thu</li>
                <li>Fri</li>
                <li>Sat</li>
            </ul>
            <ul class="calendar-dates"></ul>
        </div>


        <!--
        <img src="{{ url_for('static', filename='Calendar-background.png') }}" id="week-background">
        
        <div id="week-background">

            <div id="sunday" class="flex-day">

                <div class="flex-event">
                    event 1
                </div>

                <div class="flex-event">
                    event 2
                </div>

            </div>
            <div id="monday" class="flex-day">hi</div>
            <div id="tuesday" class="flex-day">hi</div>
            <div id="wednesday" class="flex-day">hi</div>
            <div id="thursday" class="flex-day">hi</div>
            <div id="friday" class="flex-day">hi</div>
            <div id="saturday" class="flex-day">hi</div>

        </div>
        -->
    </div>






    <script src="{{ url_for('static', filename='cal_script.js') }}"></script>

    <!-- The Modal
    Modal template initially used is at https://www.w3schools.com/howto/howto_css_modals.asp -->
    <div id="event-modify-popup" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>

            <p></p>
            <form method="POST" id="delete-form">
                {{ form.csrf_token }}
                <p id="event-delete-info">

                    {{ form.plan_id(id="plan_id") }}
                </p>
                <p>
                    {{ form.submit() }}
                </p>
            </form>

            <form method="POST" action="{{ url_for('main.modify_study_event') }}" id="modify-form">
                {{ modify_form.csrf_token }}
                <p id="event-modify-info">

                    {{ modify_form.plan_id(id="plan-id") }}

                    {{ modify_form.date.label }}
                    {{ modify_form.date }}

                    {{ modify_form.start_time.label }}
                    {{ modify_form.start_time }}

                    {{ modify_form.end_time.label }}
                    {{ modify_form.end_time }}

                    {{ modify_form.event_title.label }}
                    {{ modify_form.event_title }}

                    {{ modify_form.event_description.label }}
                    {{ modify_form.event_description }}

                </p>

                <p>
                    {{ modify_form.submit() }}
                </p>





            </form>



        </div>




    </div>

    <div id="modal-event-add" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>



            <h2></h2>
            <h3>Create New Event</h3>
            <form method="POST" action="{{ url_for('main.add_study_event') }}" id="add-form">
                {{ add_form.csrf_token }}
                <p id="event-add-info">

                    
                    {{ add_form.date(id="event-date") }}

                    {{ add_form.start_time.label }}
                    {{ add_form.start_time(id="event-start-time") }}

                    {{ add_form.end_time.label }}
                    {{ add_form.end_time(id="event-end-time") }}

                    {{ add_form.existing_events(id="old-events").label }}
                    {{ add_form.existing_events(id="old-events") }}


                    {{ add_form.event_creation_type(id="event_creation_type") }}

                </p>


                <p id="new-event-info">

                    {{ add_form.event_title.label }}
                    {{ add_form.event_title }}

                    {{ add_form.event_description.label }}
                    {{ add_form.event_description }}

                </p>


                <p>
                    {{ add_form.submit() }}
                </p>



            </form>

            <div id="new-event-deactivate">
                    
                <button id="old-event-btn">Use an existing event?</button>

            </div>

            <div id="new-event-activate">
                    
                <button id="new-event-btn">Need a new event?</button>

            </div>





        </div>

    </div>




    <div id="modal-day-view" class="modal">

        <div class="modal-content-flex">
            
            <header>
                <span class="close">&times;</span>
                <div class="day-navigation">
                    <span id="day-prev" class="material-symbols-rounded">
                        chevron_left
                    </span>
                    <span id="day-next" class="material-symbols-rounded">
                        chevron_right
                    </span>
                </div>
            </header>

            <h2></h2>
            <h3>Assignments Due:</h3>








        </div>

    </div>



</main>

{% endblock %}